<!DOCTYPE html>
 
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="../assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Admin Home</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
   <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
   <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="../assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../assets/js/config.js"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
          <div class="app-brand" style="margin-top: 40px;">
            <a href="index" class="app-brand-link gap-2">
               
             <img src="./cpmlogo.png"  />
            </a>  
            <span class="app-brand-text demo text-body fw-bolder"  > CPAM</span>
          </div>

          <div class="menu-inner-shadow"></div>

          <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item">
              <a href="admindashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="newassignment" class="menu-link">
                <i class='bx bx-code-alt'></i>
                <div data-i18n="Analytics">New assignment</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="reports" class="menu-link">
                <i class='bx bxs-report'></i>
                <div data-i18n="Analytics">Reports and analysis</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="years" class="menu-link">
                <i class='bx bx-edit-alt'></i>
                <div data-i18n="Analytics">Manage</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="myacc" class="menu-link">
                <i class='bx bxs-user-account'></i>
                <div data-i18n="Analytics">My account</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="logout" class="menu-link">
                <i class='bx bx-log-out-circle'></i>
                <div data-i18n="Analytics">Logout</div>
              </a>
            </li>

          

        
           
             
          </ul>
        </aside>
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->
    
<div class="card">
                <div class="card-header">Assignment id <%=id%></div>
                <div class="card-body">
                    <div class="table-responsive">
                        
                        <table id="allassign" class="table table-bordered cell-border	hover order-column	row-border" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Roll number</th>
                                    <th>Year</th>
                                    <th>Department</th>
                                    <th>Section</th>
                                    <th>Number of questions solved</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        
                    </div>
                </div>
            </div>
        


         
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-center py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0" >
                  ©
                  <script>
                    document.write(new Date().getFullYear());
                  </script>
                  , Some rights reserved.This website contains logos of other companies under creative commons license.
                  
                 
                </div>
              
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
     
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js"></script>
  <script>

    $(document).ready(function(){
     $('#allassign').DataTable({
         
        paging: true,
        "autoWidth": true,
        "ordering": true,
"processing":true,
"searching":true,

"ajax": {
    "url": "/get_reportdata",
    "data":{id:<%=id%>},
    "method":"POST",
    "dataSrc": function ( json ) {
      for ( var i=0, ien=json.length ; i<ien ; i++ ) {
        json[i][0] = '<a href="/message/'+json[i][0]+'>View message</a>';
      }
      return json;
    }
  },
 
  dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    ,
    paging:true,dom: 'Blfrtip', responsive: true,
    buttons: [

        {
            extend: 'pdfHtml5',
         className:"btn btn-primary",
          
                filename:"Assignment id <%=id%>"
             ,title:"Assignment id <%=id%>"
        },
        {
            extend:'csvHtml5',  className:"btn btn-primary",
            filename:"Assignment id <%=id%>"
             ,title:"Assignment id <%=id%>"
        },
        {
            extend:'excelHtml5',  className:"btn btn-primary",
            filename:"Assignment id <%=id%>"
             ,title:"Assignment id <%=id%>"
        },
        {
            extend:'print',
            filename:"Assignment id <%=id%>"
             ,title:"Assignment id <%=id%>"
        }
    ],
  "order": [ 6, 'desc' ],
        "columns":[
            {
                "data":"fullname"
            },
            {
                "data":"rollnumber",
                 
               
            },
            {
                "data":"passout",
                render:(d)=>{return d+" passout"}
            },
            {
                "data":"branch"
            },
            {
                "data":"section"
            },
            {
                "data":"score"
            },
            {
                "data":"score",
                render:(score)=>{return (score/<%=totalcodes%>)*100;}
            }
        ]
       
   
     });
    })
    </script>
</html>
